
h2 {
  margin-top:0;
  color:#EF7B45
}
th:hover {
  cursor: pointer;
}
tr:first-child{
  position: sticky;
}
tr:nth-child(even) {
  background: #CDEDF6;
}
th{
  background: rgba(239, 123, 69, 0.5);
  color:#042A2B;
}
td:first-child {
  padding-left:1rem;
}
.active.descending:after {
  content: '☝️';
}
.active.ascending:after {
  content: '👇';
}